.homepage-bg {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  background-color: var(--p-red);
  color: var(--p-violet);
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-form {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2em;
  margin: 0em 0.5em;
  font-size: 1.2em;

  input {
    color: var(--black-ter);
    border-radius: 0.3rem;
    border: 0.2rem solid black;
    width: 30%;
    min-width: 130px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25em;
    margin: 0.5em 0em;
  }
  button.join-button {
    display: block;
    margin: auto;
    font-size: 1.25em;
  }
}

.bitwits-text-title {
  font-size: 4em;
  font-weight: bold;
  color: var(--white-ter);
}

.home-logo-container {
  max-width: 70%;
  padding: 2vh 0;
  @media (min-height: 900px) {
    max-width: 55%;
    padding-bottom: 5vh;

    @media (min-width: 1000px) {
      max-width: 550px;
    }
  }
}
