.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-form {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2em;
  margin: 0em 0.5em;

  input {
    color: $black-ter;
    border-radius: 0.3rem;
    border: 0.2rem solid black;
    width: 30%;
    min-width: 130px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25em;
    margin: 0.5em 0em;
  }
  button.join-button {
    display: block;
    margin: auto;
    font-size: 1.25em;
  }
}

.bitwits-text-title {
  font-size: 4em;
  font-weight: bold;
  color: $white-ter;
}
