:root {
  --p-red: #f94144;
  --p-orange: #f3722c;
  --p-yellow: #f8bf3a;
  --p-green: #7eb356;
  --p-teal: #43aa8b;
  --p-blue: #2e86ab;
  --p-violet: #7272ac;
  --p-black: #130303;

  --white-ter: hsl(0, 0%, 96%);
  --black-ter: hsl(0, 0%, 14%);
}

/* https://coolors.co/130303-f94144-f3722c-f8bf3a-7eb356-43aa8b-2e86ab-7272ac */
