@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

@import "../node_modules/bulma/bulma.sass";

// Fix for last child of box elements looking different
.prompt-box:not(:last-child) {
  margin-bottom: 0;
}

.leaderboard-first-box {
  background-color: #ffe373;
}

.leaderboard-second-box {
  background-color: #e9e9e9;
}

.leaderboard-third-box {
  background-color: #ffc6af;
}

.leaderboard-low {
  margin-bottom: 0.5em !important;
}
